{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="card bg-light mb-2 p-3">
    <h1 class="display-3 text-center">Welcome</h1>
    <p class="lead text-center">Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} &amp; Bootstrap 5.0</p>
</div>

<div class="card mb-2 bg-info">
    <div class="card-body">
           top row
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                {% for i in 1..8 %}
                    <div class="{{ cycle(['even', 'odd'], i) }}">
                        <p>Test {{i}}</p>
                    </div>
                {% endfor %}
            </div>   
        </div>
    </div>
    <div class="col">
            <div class="card">
                <div class="card-body">
                    &nbsp;
                </div>
            </div>
        </div>
    <div class="col">&nbsp;</div>
</div>
{% endblock %}
