{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Task Form</h1>
    <div class="card bg-light">
        <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-sm">Daten senden</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}