{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ page_title }}</h2>
    <div class="card">
        <div class="card-body">
            <h3>Your lucky number is {{ number }}</h3>
        </div>
    </div>
{% endblock %}